body {
  background-color: #fafafa;
    font-family: 'Raleway', sans-serif;

}

.authwrapper {
    

    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    
  }


#formBasicEmail{
  
  border:0
}

#formBasicPassword{
  
  
  border:0
}

#authbutton{
  border: none;
  background-image: linear-gradient(to bottom right,#000428,#004e92);
}
  
  .box {
    border: 1px solid #ffffff;
    background-color: #00544e00;
  }
  
  .g-btn {
    width: 100% !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
  }
  .g-btn > div,
  .g-btn > div > svg {
    width: 40px !important;
    height: 38px !important;
  }